
body {
    margin: 0;
    background: #313131;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}

.full-screen-preview {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.wpg-topbar {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    padding-bottom: 0;
    width: 80%;
}
.top-color * {
    color: #efefef;
    box-sizing: border-box;
}
.top-nav-flex{
    display: flex;
    flex-direction: row;
}
.top-nav-flex ul{
    display: flex;
    list-style: none;
    
}
.top-nav-flex ul li{
    margin-left: 100px;margin-left: 20px;
}
.body-app {
    display: block;
    height: 500px;
    padding: 0px 7px;
    padding-bottom: 0;
}
.body-ul * {
    color: #efefef;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
.body-app .row .col-md-1 .body-ul{
    width: 50%;
    padding: 0;
}

.body-ul.active {
    color: #fff;
    background: blue;
    outline: none;
    text-decoration: none;
}
.body-ul ul{
    list-style: none;
    padding: 0%;
}
.body-ul ul button{
    display: block;
    width: 100%;
    border: 1px solid;
    color: #ffffff;
    background: #313131;
}

.body-ul ul button:hover:not([disabled]) {
    color: #fff;
    background: #717171;
    text-decoration: none;
}
.body-ul ul button i{
font-size: 1.2em;color: inherit;
}
ul:not([disabled]) {
    cursor: pointer;
}